* {
  padding: 0%;
  margin: 0%;
}

#navbar {
  background-color: black;
  position: fixed;
  z-index: 3;
  width: 100%;
}

body {
  height: 200vh;
}
div {
  /* border: 5px solid orangered; */
  display: flex;
}

div > div {
  /* border: 5px solid purple; */
}

nav {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a:hover {
  font-family: kunstler script;
  font-weight: bolder;
  background-image: linear-gradient(
    120deg,
    rgb(255, 232, 132),
    rgb(255, 118, 157),
    rgb(199, 115, 255),
    rgb(144, 205, 255)
  );
  -webkit-background-clip: text;
  color: transparent;
}

a:active {
}

.split {
  display: flex;
  flex-direction: column;
  /* border: 5px solid purple; */
  padding: 100px;
}

.split-item {
  padding: 1px;
  margin: 30px;
}

#about-para {
  font-family: Milky Nice;
  font-size: 20px;
  color: white;
  line-height: 2;
}

#title-about {
  font-family: Cooper;
  background-image: linear-gradient(
    120deg,
    rgb(255, 232, 132),
    rgb(255, 118, 157),
    rgb(199, 115, 255),
    rgb(144, 205, 255)
  );
  -webkit-background-clip: text;
  color: transparent;
  size: 100px;
  font-size: larger;
}

#logo {
  max-width: 5.5rem;
  position: relative;
  right: 75px;
}

#me-pic {
  max-width: 500px;
  display: inline;
}

#about {
  position: relative;
  top: 80px;
  background-color: black;
}

#games {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.games-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

#title-games {
  display: flex;
  margin-top: 100px;
  font-family: Cooper;
  background-image: linear-gradient(
    120deg,
    rgb(255, 232, 132),
    rgb(255, 118, 157),
    rgb(199, 115, 255),
    rgb(144, 205, 255)
  );
  -webkit-background-clip: text;
  color: transparent;
  size: 100px;
  font-size: larger;
}

#games img {
  width: 100%;
}

footer {
  background-color: black;
}

#games-para {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

#games-img {
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#games-img > div {
  width: 25%;
}
